@import "vars";

* { 
    box-sizing: border-box;
}

body {
    font-family: "Source Code Pro", monospace;
    font-size: 20px;
    color: $textColor;
}

h1 {
    font-family: "Press Start 2P", monospace;
}

.hidden {
    display: none;
}