@import "vars";

* { 
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: "Source Code Pro", monospace;
    font-size: 18px;
    color: $textColor;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    flex: 1 0 auto;
}

h1 {
    font-family: "Press Start 2P", monospace;
}

.hidden {
    display: none;
}