:root {
	--base-color: #338;
	--text-color: #335;
	--link-color: #0158DB;
	--visited-link-color: #3585fe;
	--border-color: #666c;
}

.cell {
	border: 1px solid var(--text-color);
	width: 8px;
	height: 18px;
	background: transparent;
	margin: 0 2px;
}

.cell.full {
	background: lightgreen;
}

a {
	color: var(--link-color);
}

.dash {
	border-bottom: 2px dashed var(--border-color);
}
