@import "vars";
@import "pixel-borders";

.sections {
    display: flex;
    justify-content: space-between;

    section {
        @include pixel-borders(
            $corner-size: 2,
            $border-color: $baseColor,
            $border-size: 12px
        );

        flex: 1;
        margin: 0 12px;

        &:first-child {
            margin-left: 0;
        }
    
        &:last-child {
            margin-right: 0;
        }

        .heading-group {
            display: flex;
            align-items: baseline;
        }
    }

    .stats-section {
        position: relative;
        padding: 12px;

        .section-name {
            margin: 12px;
        }

        .feat-list {
            list-style: none;
            margin: 0;
            padding: 12px;

            .feat {
                grid-row: auto;
                margin: 0.75em;

                header {
                    display: flex;
                    align-items: baseline;

                    i {
                        font-size: 28px;
                    }
    
                    h3 {
                        font-size: 24px;
                        margin: 0 12px;
                    }
                }
            }
        }

        .stat-list {
            list-style: none;
            margin: 0;
            padding: 12px;
        }

        .level.stat {
            margin: 16px 0;
        }

        .stat {
            display: flex;
            justify-content: space-between;
            margin: 6px 0;

            .name {
                font-weight: bold;
            }

            .dash {
                flex: 1; /* grow to fill remaining space*/
                border-bottom: 2px dashed #666c;
                position: relative;
                bottom: 8px;
                margin: 0 8px
            }
        }
    }
}

.main-section {
    overflow: hidden;
    padding: 1.2em;

    .pictures {
        display: flex;
    }

    figure {
        position: relative;
        margin: 0;
        margin-right: 2em;

        img.picture {
            height: 190px;
            width: auto;
            border: 2px solid $textColor;
        }

        figcaption {
            font-size: 16px;
            font-style: italic;
        }
    }

    .content {
        .heading {
            margin: 1em 0;
        }
    }
}

.skill-list {
    list-style: none;
    padding: 0;
    margin: 0 12px;
    display: flex;
    flex-wrap: wrap;

    .skill {
        width: 50%;
        padding: 12px;
        display: flex;
        align-items: baseline;
        justify-content: space-between;

        .name {
            display: flex;
        }

        i {
            color: $textColor;
            font-size: 24px;
        }

        label {
            align-self: center;
            margin: 0 8px 0 4px;
        }

        .meter {
            display: flex;
            margin: 0 4px;

            .cell {
                border: 1px solid $textColor;
                width: 16px;
                height: 18px;
                background: transparent;
                margin: 0 3px;
                
                &.full {
                    background: lightgreen;
                }
            }
        }
    }
}