@import "vars";
@import "pixel-borders";

.sections {
    display: flex;
    justify-content: space-between;

    section {
        @include pixel-borders(
            $corner-size: 2,
            $border-color: $baseColor,
            $border-size: 12px
        );

        flex: 1;
        margin: 0 12px;

        &:first-child {
            margin-left: 0;
        }
    
        &:last-child {
            margin-right: 0;
        }

        .heading-group {
            display: flex;
            align-items: baseline;
        }
    }

    .stats-section {
        position: relative;
        padding: 12px;

        .section-name {
            margin: 12px;
        }

        .feat-list {
            list-style: none;
            margin: 0;
            padding: 12px;
            display: flex;
            flex-wrap: wrap;

            .feat {
                padding: 0.75em;
                width: 50%;

                header {
                    display: flex;
                    align-items: baseline;
                    margin: 8px 0;

                    i {
                        font-size: 28px;
                    }
    
                    h3 {
                        font-size: 24px;
                        margin: 0 12px;
                    }
                }
            }
        }

        .stat-list {
            list-style: none;
            margin: 0;
            padding: 12px;
        }

        .level.stat {
            margin: 16px 0;
        }

        .stat {
            display: flex;
            justify-content: space-between;
            margin: 6px 0;

            .name {
                font-weight: bold;
            }
        }
    }
}

.main-section {
    overflow: hidden;
    padding: 1.2em;
    display: flex;

    figure {
        float: left;
        position: relative;
        margin-right: 1em;

        img.picture {
            height: 226px;
            width: auto;
            border: 2px solid $textColor;
        }

        figcaption {
            font-size: 16px;
            font-style: italic;
        }
    }

    .content {
        line-height: 1.5;

        .heading {
            margin: 0;
            margin-top: 12px;
        }
    }
}

.skill-list {
    list-style: none;
    padding: 0;
    margin: 0 12px;
    display: flex;
    flex-wrap: wrap;

    .skill {
        width: 50%;
        padding: 12px;
        display: flex;
        align-items: baseline;
        justify-content: space-between;

        .dash {
            flex: 1; /* grow to fill remaining space*/
            border-bottom: 2px dashed #666c;
            position: relative;
            bottom: 8px;
            margin: 0 8px
        }

        .name {
            display: flex;
        }

        i {
            color: $textColor;
            font-size: 24px;
        }

        label {
            align-self: center;
            margin: 0 4px 0 8px;
        }

        .meter {
            display: flex;
            margin: 0 4px;

            .cell {
                border: 1px solid $textColor;
                width: 8px;
                height: 18px;
                background: transparent;
                margin: 0 2px;
                
                &.full {
                    background: lightgreen;
                }
            }
        }
    }
}

@media screen and (max-width: 1366px) {
    .sections {
        flex-direction: column;

        section {
            margin: 16px 0 8px 0;
        }
    
        .stats-section {
            .feat-list {
                flex-direction: column;
                flex-wrap: nowrap;
    
                .feat {
                    width: auto;
                }
            }

            .skill-list {
                flex-direction: column;
        
                .skill {
                    width: auto;
                }
            }
        }
    }
}