:root {
	--base-color: #338;
	--text-color: #335;
	--link-color: #0158DB;
	--visited-link-color: #3585fe;
	--border-color: #666c;
}

/* body {
    font-family: "Source Code Pro", monospace;
    font-size: 16px;
    color: var(--text-color);
}

main {
    flex: 1 0 auto;
	padding: 1em;
}

.hidden {
    display: none;
}

.clear {
    float: none;
}

#main-header {
    display: flex;
    align-items: baseline;
    margin: 12px 16px;
    padding: 16px 0;
    border-bottom: 2px dashed #333;
}

.links {
	display: flex;
	flex: 1;
	justify-content: flex-end;
	margin: 0 1em;
	font-weight: bold;
	font-size: 24px;
}

.links a {
	text-decoration: underline;
	text-decoration-style: double;
	text-underline-offset: 4px;
	position: relative;
	bottom: 10px;
	margin: 0 8px;
	color: var(--link-color);
}

.links a:visited {
	color: var(--visited-link-color);
}

h1.heading {
	border-right: 1px solid #337b;
	padding-right: 1.5em;
}

.heading-group a {
	text-decoration: none;
	color: var(--text-color);
}

h1.heading {
	margin: 0;
}

h2.subheading {
	margin: 0;
	color: rgba(16, 16, 32, 0.8);
	font-size: 32px;
}

main .title {
	margin-top: 0
}

footer {
    padding: 1em;
}

.sections {
	display: flex;
	justify-content: space-between;
}

.sections section {
	flex: 1;
	margin: 0 12px;
	border: 3px double var(--border-color);
}

.sections section:first-child {
	margin-left: 0;
}

.sections section:last-child {
	margin-right: 0;
}

.sections section .heading-group {
	display: flex;
	align-items: baseline;
}

.stats-section {
	position: relative;
	padding: 12px;
}

.stats-section .section-name {
	margin: 12px;
}

.stats-section .feat-list {
	list-style: none;
	margin: 0;
	padding: 12px 0;
	display: flex;
	flex-wrap: wrap;
}

.feat-list .feat {
	padding: 0.75em;
	width: 50%;
}

.feat header {
	display: flex;
	align-items: baseline;
	margin: 8px 0;
}

.feat header i {
	font-size: 28px;
}

.feat header h3 {
	font-size: 24px;
	margin: 0 12px;
}

.stat-list {
	list-style: none;
	margin: 0;
	padding: 12px;
}

.level.stat {
	margin: 16px 0;
}

.stat {
	display: flex;
	justify-content: space-between;
	margin: 6px 0;
}

.stat .name {
	font-weight: bold;
}

.main-section {
	overflow: hidden;
	padding: 1.2em;
	display: flex;
}

.main-section figure {
	margin-right: 1em;
	text-align: center;
}

figure img.picture {
	height: 226px;
	width: auto;
	border: 2px solid var(--text-color);
}

figure figcaption {
	font-size: 16px;
	font-style: italic;
}

figure .content {
	line-height: 1.5;
}

figure .content .heading {
	margin: 0;
	margin-top: 12px;
}

.skill-list {
	list-style: none;
	padding: 0;
	margin: 0 12px;
	display: flex;
	flex-wrap: wrap;
}

.skill {
	width: 50%;
	padding: 12px;
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}

.skill .dash {
	border-bottom: 2px dashed var(--border-color);
	position: relative;
	bottom: 8px;
	margin: 0 8px
}

.skill .name {
	display: flex;
}

.skill i {
	color: var(--text-color);
	font-size: 24px;
}

.skill label {
	align-self: center;
	margin: 0 4px 0 8px;
} */

.meter {
	display: flex;
	margin: 0 4px;
}

.cell {
	border: 1px solid var(--text-color);
	width: 8px;
	height: 18px;
	background: transparent;
	margin: 0 2px;
}

.cell.full {
	background: lightgreen;
}

a {
	color: var(--link-color);
}

/* 
@media screen and (max-width: 1366px) {
	.sections {
		flex-direction: column;
	}

	.sections section {
		display: block;
		margin: 16px 0 8px 0;
	}
	
	.feat-list {
		flex-direction: column;
		flex-wrap: nowrap;
	}

	.feat {
		width: auto;
	}
	
	.skill-list {
		flex-direction: column;
	}

	.skill {
		width: auto;
	}

	#main-header {
        flex-direction: column;
	}

    #main-header .heading-group {
		border: none;
	}

    #main-header .links {
		display: flex;
		justify-content: flex-start;
		margin: 24px 0 0 -8px;
	}
} */
