<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Austin Pocus - My personal site - About me</title>
		<link rel="icon" href="/favicon.png">
		
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    	
		<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
		<script>
			tailwind.config = {
				theme: {
					extend: {
						fontFamily: {
							'libre-baskerville': ['Libre Baskerville', 'serif'],
							'poppins': ['Poppins', 'sans-serif']
						},
					},
				}
			}
		</script>
		<style type="text/tailwindcss">
			@theme {
				--color-atomic-tangerine: #f98948;
				--color-picton-blue: #00a6fb;
				--color-oxford-blue: #031d44;
				--color-ash-gray: #a5ae9e;
				--color-dark-purple: #27213c;
			}
		</style>

		<meta property="og:title" content="Austin Pocus - My personal site" />
		<meta property="og:description" content="Personal website of Austin Pocus, a software engineer with over 14 years of professional experience writing code for the web." />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://austinpocus.com/" />
		<meta property="og:image" content="https://austinpocus.com/img/me.jpeg" />
	</head>

	<body class="bg-blue-50 text-dark-purple dark:bg-dark-purple dark:text-white">
		<div class="font-poppins p-8 lg:w-2xl m-auto">
			<header class="font-libre-baskerville lg:flex lg:justify-between items-baseline">
				<div>
					<h1 class="text-4xl">Austin Pocus</h1>
					<aside>My personal site</aside>
				</div>

				<div class="flex">
					<a class="text-lg mr-2 underline decoration-double underline-offset-4 decoration-atomic-tangerine decoration-2" target="_blank" rel="noopener nofollow" href="https://blog.austinpocus.com">Blog</a>
					<a class="text-lg mr-2 underline decoration-double underline-offset-4 decoration-atomic-tangerine decoration-2" target="_blank" rel="noopener nofollow" href="https://github.com/ajpocus">Github</a>
					<a class="text-lg mr-2 underline decoration-double underline-offset-4 decoration-atomic-tangerine decoration-2" target="_blank" rel="noopener nofollow" href="https://linkedin.com/in/austin-pocus">LinkedIn</a>
					<a class="text-lg mr-2 underline decoration-double underline-offset-4 decoration-atomic-tangerine decoration-2" target="_blank" rel="noopener nofollow" href="https://bsky.app/profile/ajpocus.bsky.social">Bluesky</a>
				</div>
			</header>
		
			<main class="flex-1 lg:flex">
				<section class="lg:flex-1 lg:mr-8">
					<figure class="lg:float-left flex my-8 mr-3">
						<img class="h-64 lg:h-48" src="/img/me.jpeg">
					</figure>

					<h2 class="font-libre-baskerville text-2xl mt-8">About Me</h2>

					<p class="my-4">I started teaching myself to code when I was 13 years old, with the hopes of making my own video games. When my parent's computer died, I hacked together my own PCs from junk parts my dad and brother found collecting scrap metal, and installed Linux on them.</p>

					<p class="my-4">I worked on a ton of small personal projects, like hacking the sound waves on my guitar, and creating todo lists and mock point-of-sale systems using Ruby on Rails. I got my first job at a startup when I was 20, and dove headfirst into the deep end, learning more about web technologies, product design, and mobile app development. I went on to co-found a few startups of my own, one of which (YesInsights) was acquired in 2017 by Design Pickle.</p>
					
					<p>Some things I've built over my career include:</p>

					<ul class="list-disc ml-4">
						<li>A custom headless CMS that served over 8 million pageviews per month at its peak, before such systems were available off-the-shelf</li>
						<li>An embeddable web widget for displaying one-click surveys</li>
						<li>A toolkit for creating your own old-school RPG in the style of Final Fantasy or Pokemon</li>
						<li>A distributed timer for synchronizing events in a manufacturing plant</li>
						<li>A crowdsourced "subjective audio analysis" engine that could tell how funny something is or how professional someone sounds, before modern AI</li>
					</ul>

					<p class="my-4">In my spare time, I like to read (especially speculative fiction and fantasy), write short stories and essays, and spend time with <a class="underline decoration-double decoration-atomic-tangerine" href="https://daphnewt.com">my wife, Victoria</a>.</p>
				</section>
			</main>
		
			<footer class="flex justify-between mt-8">
				<p>&copy; Copyright {{ page.date.getFullYear() }} Austin Pocus. All rights reserved.</p>
				<a class="underline decoration-double decoration-atomic-tangerine" href="https://github.com/ajpocus/austinpocus.com" target="_blank" rel="noopener noreferrer">View source</a>
			</footer>
		</div>
	</body>
</html>
