{% extends "layouts/base.njk" %}

{% block head %}
    <title>Austin Pocus - My personal site - About me</title>
    <link rel="stylesheet" href="/css/index.css">
{% endblock %}

{% block main %}
<div>
    <h3 class="title">About me</h3>

    <div class="about-me pxl-border">
        This is a test
    </div>
</div>
{% endblock %}